body {
    background-color: gray;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: chocolate;
    padding: 20px;
    white-space: wrap;
    align-content: center;
}

img {
    width: 200px;
    background-color: lightblue;
    border-radius: 10px;
}

@media screen and (max-width: 670px) {
    .container {
        flex-direction: column;
    }
    img {
        width: 30%;
        margin: 10px;
    }   
}

.container2 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;
    align-items: center;
    padding: 30px;
    gap: 10px;
    text-align: center;
    background-color: black;
}

.red {
    background-color: red;
    width: 100px;
    height: 160px;
    grid-column: 1/2;
    grid-row: span 2;
}

.green {
    background-color: green;
    width: 100px;
    height: 50px;
}

.blue {
    background-color: lightblue;
    width: 100px;
    height: 50px;
}

.yellow {
    background-color: yellow;
    width: 100px;
    height: 50px;
}

.purple {
    background-color: purple;
    width: 100px;
    height: 50px;
}

.orange {
    background-color: orange;
    width: 100px;
    height: 50px;
}

.pink {
    background-color: pink;
    width: 100px;
    height: 50px;
}

.container3 {
    background-color: violet;
    grid-template-areas: "header header header"
                         "navigation main aside"
                         "footer footer footer";
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 100px 200px 100px;
    text-align: center;
    gap: 10px;
    padding: 30px;
}

.container3 > header {
    background-color: lightblue;
    grid-area: header;
}

.container3 > nav {
    background-color: lightgoldenrodyellow;
    grid-area: navigation;
}

.container3 > main {
    background-color: lightgreen;
    grid-area: main;
}

.container3 > aside {
    background-color: lightsalmon;
    grid-area: aside;
}

.container3 > footer {
    background-color: lightslategray;
    grid-area: footer;
}